<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration and Authentication</title>
    <style>
        body {
            background-color: #020204;
            color: #fff;
            font-family: 'Arial', sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            margin: 0;
        }

        .container {
            background-color: #14141D;
            width:400px;
            height:400px;     
            margin-left:auto;
            margin-right:auto;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        form{
            margin: 20px;
            margin-left: auto;           
        }

        h2 {
            text-align: center;
            margin-bottom: 20px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        input[type="text"],
        input[type="email"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: #383838;
            color: #fff;
            font-size: 16px;
        }

        input[type="submit"] {
            background-color: #C7A17A;
            color: #fff;
            padding: 12px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s ease;
        }

            input[type="submit"]:hover {
                background-color: #C7A17A;
            }

        .login-link {
            text-align: center;
            margin-top: 15px;
        }

            .login-link a {
                color: #C7A17A;
                text-decoration: none;
            }

                .login-link a:hover {
                    text-decoration: underline;
                }
    </style>
</head>
<body>
    <div class="container">
        <h2>Registration</h2>
        <form asp-action="RegistrationWithParameters" asp-controller="Registration" method="post">
            <div class="form-group">
                <label for="name">Username:</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="pass">Password:</label>
                <input type="password" id="pass" name="pass" required>
            </div>
            <input type="submit" value="Register">
        </form>
        <div class="login-link">
            <a href="@Url.Action("Authorization","Registration")">Already have an account? Login</a>
        </div>
    </div>
</body>
</html>